<div class="modal fade" id="kIframemodal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="hidCallbackFrom" value="" />
            </div>
            <div class="modal-body">
                <iframe id="ifrmPopup" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden; position:absolute;top:0px;left:0px;right:0px;bottom:0px;border:none;" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kFileUploadermodal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="hidCallbackFrom" value="" />
            </div>
            <div class="modal-body">
                <iframe id="ifrmFileUploaderPopup" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden; position:absolute;top:0px;left:0px;right:0px;bottom:0px;border:none;" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ifrom-popup.js"></script>
<script src="~/plugins/custom/datepicker-bt/js/bootstrap-datepicker.js"></script>
<link href="~/plugins/custom/datepicker-bt/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/plugins/custom/datepicker-bt/css/bootstrap-datepicker3.css" rel="stylesheet" />